
<div class="ui container">

  <h2 class="ui center aligned icon header">
    <i class="circular inverted orange users icon"></i>
    Chatroom
  </h2>

  <div class="ui grid">

    <div class="twelve wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <div class="ui feed">
            <div class="event">
              <div class="content">
                <div class="summary">
                  <em>Elliot Fu</em>: blah blah blah
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <em>Stevie Feliciano</em>: test message
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <em>Helen Troy</em>: placeholder
                </div> 
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <em>Christian Rocha</em>: test message
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <form class="ui reply form">
            <div class="field">
              <div class="ui fluid icon">
                <div class="ui right icon input">
                  <input type="text" placeholder="Enter text...">
                  <i class="bordered orange inverted icon edit "></i>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
 
    <div class="four wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <div class="ui inverted vertical menu">
            <a class="item">
              Home
            </a>
            <a class="item">
              Messages
            </a>
            <a class="item">
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
