@import "semantic-ui";

.chatbox {
    height: 450px;
}

.slim {
    width: 120px;
}

.center-text {
    text-align: center;
}

.input {
    button {
        display: none;
    }
}
#messages {
    overflow: auto;
    height: 15em;
}

